<div>
  <div class="space-x-4 border rounded border-gray-950 shadow-2xl">
    <div class="wrap">
      <h2 class="m-8 text-4xl font-medium">
        Аналитика бота
      </h2>
      
      <h2 class="text-2xl">
        Всего пользователей в боте: <%= @users.size %>
      </h2>
    </div>
  </div>  
</div>
